body {
  min-width: 1280px;
  margin: 0;
}

.main-block {
  margin: 0 auto;
  padding: 30px 20px;
  background-color: blue;
  border: 2px solid red;
}

.logo {
  width: 243px;
  margin: 0 auto;
}

.button {
  display: block;
  height: 30px;
  min-width: 150px;
  border: 1px solid #000000;
  background-color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}

.open-me,
.close-me {
  margin: 0 auto;
  margin-top: 25px;
}

.popup {
  display: none;
  position: fixed;
  width: 55%;
  padding: 30px 20px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #ffffff;
  border: 2px solid #000000;
  text-align: center;
  z-index: 10;
}

.hide-layout {
  display: none;
  background: #000; /* фон */
  bottom: 0;  /* координата снизу */
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50); /* прозрачность для IE */
  height: 100%; /* высота на всю страницу */
  opacity: 0.5;  /* прозрачность слоя */
  position: fixed; /* фиксируем элемент на странице*/
  top: 0; /* координата сверху */
  width: 100%; /* ширина на всю страницу */
  z-index: 9; /* z-index для перекрытия остальных элементов */
}
